<ion-header>
  <ion-toolbar>
    <ion-title>explorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="peliculas">
        <ion-label>Películas</ion-label>
        <ion-icon name="film"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="musica">
        <ion-label>Música</ion-label>
        <ion-icon name="musical-note"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="libros">
        <ion-label>Libros</ion-label>
        <ion-icon name="book"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
