<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Bienvenido a tu Store.</h1>

  <!-- <ion-list>
    <ion-item><ion-button>Explorar Películas</ion-button></ion-item>
    <ion-item><ion-button>Explorar Música</ion-button></ion-item>
    <ion-item><ion-button>Explorar Libros</ion-button></ion-item>
    <ion-item><ion-button>Compras</ion-button></ion-item>
    <ion-item><ion-button>Cuenta</ion-button></ion-item>
    <ion-item><ion-button>Ajustes</ion-button></ion-item>
  </ion-list> -->

</ion-content>
